# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.sublime-project
*.sublime-workspace
*.idea/
*.vscode/
*.DS_Store
*.coverage
.coverage.*
.cache
.pytest_cache/
*.cover
.hypothesis/
.tox/
.nox/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
.python-version
celerybeat-schedule
celerybeat.pid
*.sage.py
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
.idea/
.vscode/
.history/
*.vsix

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
local_settings.py
/staticfiles/
mediafiles/

# React/Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/build/
